.cabecera{
  text-align: center;
}

.cabecera h1{
  padding-top: 35px;
  width: 100%;
}

.barra {
  position: fixed;
  top: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav li a {
  padding: 20px 15px;
}