* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
  margin: 0%;
}

.cabecera {
  display: inline-flex;
  color: white;
  background-color: black;
  height: fit-content;
  width: 100%;
}

.cabecera h1 {
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 45px 480px;
}

.logo {
  border-radius: 100%;
  padding: 20px;
  width: 100px;
  height: 100px;
}

/* div .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
} */

#header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 8px;
}

ul,ol {
  list-style: none;
}


/* Botonera */
.nav li a {
  background-color: black;;
  color: #fff;
  text-decoration: none;
  display: block;
}

#header .nav li a{
  padding: 20px 40px;
}

.nav li a:hover {
  background-color: rgb(104, 104, 104);
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover>ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -140px;
  top: 0px;
}

.dropdown-select {
  width: 200px;
  height: 50px;
  border: none;
  background-color: black;;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin-right: 25px;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;;
  min-width: 160px;
  background-color: black;;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: black;;
}

.dropdown-button:hover + .dropdown-content {
  display: block;
}


/* Carrusel (CREO) */
.slider-frame {
  width: 1280px;
  height: auto;
  margin: 20px auto 0;
  overflow: hidden;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  /* animation: slide 20s infinite alternate ease-in-out; */
  animation: slide 12s infinite alternate linear;
}

.slider-frame li {
  width: 100%;
  height: min-content;
  list-style: none;
  padding-bottom: 20px;
}

.slider-frame img {
  width: 100%;
  height: 85%;
}

@keyframes slide {
  0% {    margin-left: 0;  }
  /* 20% {    margin-left: 0;  }

  25% {    margin-left: -100%;  }
  45% {    margin-left: -100%;  }

  50% {    margin-left: -200%;  }
  70% {    margin-left: -200%;  }

  75% {    margin-left: -300%;  } */
  100% {    margin-left: -300%;  }
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.footer .content{
  display: inline-flex;
}

.footer p{
  margin: 5px;
  font-size: 18px;
  line-height: 1.2;
}

.footer p:first-child{
  text-transform: uppercase;
}

.footer p:nth-child(2) {
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
}

.square-button {
  display: inline-block;
  width: 200px;
  height: 50px;
  border: none;
  background-color: black;;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-right: 25px;
  align-items: center;
}

.container {
  display: flex;
  padding: 30px;
  flex-direction: row;
}

.dropdown {
  position: relative;
}


/* Horarios - Cursos */
.horarios-table {
  width: 100%;
  border-collapse: collapse;
}

.horarios-table th, .horarios-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.horarios-table th {
  background-color: black;
  color: white;
}

.horarios-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.horarios-table tr:hover {
  background-color: #ddd;
}

.recreo {
  margin-top: 20px;
  font-weight: bold;
}

body > h2:nth-child(3) {
  text-align: center;
  background-color: black;
  color: #fff;
  }

.nombres{
text-align: center;
background-color: lightblue;
color: black;
margin-top: 60px;
}

.Contraturnos{
text-align: center;
background-color: black;
color: #fff;
}

/*aca empieza el oto css*/

body {
  font-family: Arial, sans-serif;
}

table {
width: 100%;
margin-top: 10px;
}

th, td {
padding: 10px;
text-align: left;
border-bottom: 1px solid #8b8b8b;
}

.cuadro {
width: 98%;
margin-bottom: 30px;
border: 1px solid #ddd;
border-radius: 4px;
padding-top: 20px;
margin-top: 20px;
text-align: center;
margin-left: 1%;
background-color: #d9d9d983;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ESTE MUEVE LA PRIMERA COLUMNA */
td:nth-child(1) {
background-color: rgb(225, 225, 225);
font-weight: bold;
text-align: center;
}

td {
background-color: rgb(240, 240, 240);
}

th {
background-color: rgb(206, 206, 206);
}

/* Estilos para las imágenes de los profesores */
.profesor-image {
position: absolute;
display: none;
}

td:hover .profesor-image {
display: block;
}

.symbol-popup {
position: absolute;
display: none;
background-color: white;
padding: 5px;
border: 1px solid #ccc;
font-size: 25px;
}
.logout-button {
display: inline-block;
padding: 10px 30px;
background-color: #007bff;
color: #ffffff;
text-decoration: none;
text-align: left;
margin: 120px;
border-radius: 15px;
border: none;
font-size: 15px;
cursor: pointer;

}

.logout-button:hover {
background-color: #0056b3;
}