body {
  background-color: black;
}

.contenedor {
  display: flex;
  justify-content: center;
}

.cuadro {
  width: 49%;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 49px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.columna {
  column-count: 3;
  column-gap: 50px; 
}

td {
  vertical-align: middle;
  word-wrap: break-word;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
}

.resaltar {
  background-color: yellow;
  font-weight: bold;
}

.resaltar2 {
  background-color: rgb(255, 0, 157);
  font-weight: bold;
}

.resaltar3 {
  background-color: rgb(124, 255, 109);
  font-weight: bold;
}

@media (max-width: 768px) {
  .cuadro {
    width: 100%;
  }
}
